<!DOCTYPE html>
<html>

<head>
    <title>oauth-github-login</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
</head>

<body>
    <div class="container">
        <div class="col-md-4">
            <a class="btn btn-sm btn-social btn-github" href="/api/auth/github">
                <i class="fa fa-github"></i>Sign in with Github
            </a>
        </div>
    </div>
</body>
